@page "/"
@inherits LayoutComponentBase

@using RikishiRecords.Components.Data

<div class="container">
    <h1>Welcome to Sumo Pokedex</h1>
    <p>Explore the world of Sumo wrestling and discover powerful Sumo wrestlers!</p>

    <div class="sumo-list">
        <!-- Display a list of Sumo wrestlers with their names and images -->
        @foreach (var sumo in SumoData.GetSumoList())
        {
            <div class="sumo-card">
                <h3>@sumo.Name</h3>
                <img src="@sumo.ImageUrl" alt="@sumo.Name"/>
            </div>
        }
    </div>
</div>